{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav_bar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Chat</title>
  </head>

  <body>
    {% include 'nav_bar.html' %}
    <div class="container">
      <div class="chat-container">
        <nav class="chat-list-container">
          <div class="my-id">
            <div class="nickname-area">내 아이디</div>
            <label class="unread-messages">
              <span class="unread-description">안 읽은 메시지만 보기</span>
              <input type="checkbox" name="" class="checkbox" />
            </label>
          </div>
          <a class="chatbot-box" href="{% url 'mycarrotapp:room' room_name='999' user_name=request.user.username %}">
            <img src="{% static 'img/icon_aibot.png' %}" alt="" />
            <div style="margin-left: 9px">
              <div class="chatbot-title">AI 챗봇</div>
              <div class="chatbot-desc">궁금한 내용을 물어보세요!</div>
            </div>
          </a>
          <ul class="chat-list-box">
            <li class="chat-room">
              <a class="chat-room-link" href="{% url 'mycarrotapp:room' room_name='lobby' user_name='user2' %}">
                <div class="chat-preview-box">
                  <div class="preview-title">
                    <span class="preview-nickname">상대방아이디</span>
                    <div class="preview-text">
                      <span>여의도동</span>
                      <span> · </span>
                      <span>1년 전</span>
                    </div>
                  </div>
                  <div class="preview-description">
                    <span class="description-text">거래 잘 하셨나요? ㅋ</span>
                  </div>
                </div>
                <img class="preview-image" src="{% static 'img/product-preview.webp' %}" alt="거래 품목 썸네일" />
              </a>
            </li>
            <li class="chat-room">
              <a class="chat-room-link" href="">
                <div class="chat-preview-box">
                  <div class="preview-title">
                    <span class="preview-nickname">상대방아이디</span>
                    <div class="preview-text">
                      <span>여의도동</span>
                      <span> · </span>
                      <span>1년 전</span>
                    </div>
                  </div>
                  <div class="preview-description">
                    <span class="description-text">거래 잘 하셨나요? ㅋ</span>
                  </div>
                </div>
                <img class="preview-image" src="{% static 'img/product-preview.webp' %}" alt="거래 품목 썸네일" />
              </a>
            </li>
            {% for room in rooms %}
            {% with post=room.post_id %}
            <li class="chat-room">
              <a class="chat-room-link" href="{% url 'mycarrotapp:room' room_name=room.pk user_name=request.user.username %}" >
                <div class="chat-preview-box">
                  <div class="preview-title">
                    <span class="preview-nickname">
                      {% if request.user.id != room.seller.id %}
                        {{ room.seller }}
                      {% else %}
                        {{ room.buyer }}
                      {% endif %}
                    </span>
                    <div class="preview-text">
                      <span>{{ post.location }}</span>
                      <span> · </span>
                      <span>{{ post.created_at|timesince }}</span>
                    </div>
                  </div>
                  <div class="preview-description">
                    <span class="description-text">{{ room.latest_chat }}</span>
                  </div>
                </div>
                <img class="preview-image" src="{{ post.images.url }}" alt="거래 품목 썸네일" />
              </a>
            </li>
            {% endwith %}
            {% endfor %}
          </ul>
        </nav>
        <main class="chat-main-container">
          {% block content%}
          <div class="empty-box">
            <img src="{% static 'img/chat.svg' %}" alt="" />
            <div class="empty-description">채팅할 상대를 선택하세요.</div>
          </div>
          {% endblock %}
        </main>
      </div>
    </div>
  </body>
</html>
