{% extends "chat/chat.html" %} {% load static %} {% block content %} {% if room_name %}
<div class="chat-box">
  <div class="partner-id-box">
    <span class="partner-nickname">상대방아이디</span>
    <span class="partner-temperature">36.9°C</span>
  </div>
  <a class="product-info-box" href="#">
    <img class="preview-image" src="{% static 'img/product-preview.webp' %}" alt="상품 썸네일" />
    <div class="product-info">
      <div class="product-name">LG 양문형 냉장고 779L</div>
      <div class="product-price">150,000원</div>
    </div>
    <span class="product-status">거래완료</span>
  </a>
  <div class="message-box">
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer right">
      <div class="message right">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">
          동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이
          보전하세
        </p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer right">
      <div class="message right">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">
          동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이
          보전하세
        </p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer right">
      <div class="message right">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">
          동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이
          보전하세
        </p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer right">
      <div class="message right">
        <p class="message-content">Holy shit</p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
    <div class="message-layer left">
      <div class="message left">
        <p class="message-content">
          동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려강산 대한사람 대한으로 길이
          보전하세
        </p>
      </div>
      <div class="message-time-box">
        <div class="message-time">오전 10:32</div>
      </div>
    </div>
  </div>
</div>
<form class="message-input-box" action="">
  {% csrf_token %}
  <textarea class="message-input" placeholder="메시지를 입력하세요"></textarea>
  <div class="message-send-box">
    <button class="message-send-button">전송</button>
  </div>
</form>
{% endif %} {% endblock %}
