.navbar a {
    text-decoration: none;
}

.navbar {
    width: 100%;
    height: 60px;
    font-family: Noto Sans KR;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 12px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: inline-flex;
    align-items: center;
    margin-right: 36px;
}

.nav-left>img {
    width: 65px;
    height: 36px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 31px;

    width: 100%;
    padding-right: 40px;
}

.nav-menu>a {
    color: #585858;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.95px;
}

.nav-right {
    gap: 10px;
}

.nav-right input {
    width: 288px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #F3F3F3;
    padding: 9px 63px 7px 10px;
    border: none;
    box-sizing: border-box;
}

.nav-button {
    width: 98px;
    height: 39px;
    border-radius: 6px;
    box-sizing: border-box;

    font-family: Noto Sans KR;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
}

#chat {
    border: 1px solid #FA6616;
    color: #FA6616;
}

#logout-button {
    border: 1px solid #D7D7D7;
    color: #D7D7D7;
    opacity: 0.3;
}

#login-button {
    text-align: center;
    border: 1px solid #D7D7D7;
    color: #000;
}